#first {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    color: #006;
}
#second {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
}
#third {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: #666;
}
#fourth {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#fifth {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#sixth {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}